/* general styling*/
body{
    background-color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: blanchedalmond;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR52P9lvNOColejN9UEEm5gm98_T0rYxxUYBu71uViREQ&s");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* header*/

header{
    background-color: dimgrey;
    color: black;
    text-align: center;
    padding:40px;
    display:flexbox;
    flex-direction:column;
    
    
}
h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
}

header p{
    margin-top: 15px;
    font-size: 20px;
    font-style: italic;
}
/*navigation*/

.navigation{
    background-color:grey;
    padding: 15px;
}

.navigation ul{
    list-style: none;
    text-align: center;
}

